.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  .title {
    font-weight: 500;
  }
  .rightSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    .threeDots {
      position: relative;
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }
}
