.label {
  margin-bottom: 0.2rem;
}

.input {
  border: 1px solid $input-border;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  &:focus {
    border: 1px solid $primary-color;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}