.subtask {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 70%;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: $bg-subtask;
  cursor: pointer;
  transition: background-color 200ms ease;
  &:hover {
    background-color: $bg-subtask-hover;
    .checkbox {
      border: 1px solid $primary-color;
    }
  }
  .checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid $dark-gray;
    border-radius: 0.2rem;
    transition: border 200ms ease;
    &.checked {
      background-image: url("/assets/icon-check.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: $primary-color;
      background-size: 14px;
      border: 1px solid $primary-color;
      border-radius: 3px;
    }
  }
}
