.card {
  padding: 1.3rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  background-color: $bg-task;
  transition: background-color 300ms ease, color 300ms ease,
    box-shadow 300ms ease;
  cursor: pointer;
  .head {
    display: flex;
    justify-content: space-between;
  }
  &:hover {
    background-color: $primary-color;
    box-shadow: 5px 5px 20px 2px $task-hover;
    color: #fff;
    .subtaskStatus {
      color: #fff;
    }
  }
  .title {
    margin-bottom: 0.5rem;
  }

  .subtaskStatus {
    font-size: 0.9rem;
    font-weight: 600;
    color: $primary-color;
    transition: color 300ms ease;
  }
}
