.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  z-index: 20;
  .wrapper {
    position: relative;
    background-color: $bg-modal;
    padding: 2rem;
    width: min(85%, 600px);
    border-radius: 10px;
    .closeIcon {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      margin: 2rem;
      transition: color 300ms ease;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .body {
    margin-bottom: 2rem;
  }

  .footer {
    text-align: right;
  }

  .title {
    margin-bottom: 2rem;
    font-weight: 500;
  }

  .subtitle {
    font-weight: 600;
    margin-bottom: 0.2rem;
  }

  .cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  .trash {
    margin-bottom: 1rem;
    color: $dark-gray;
    transition: color 300ms ease;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }
}
