.header {
  .title {
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
  .description {
    margin-bottom: 1.2rem;
  }
}

.body {
  margin-bottom: 2rem;
}

.footer {
  display: flex;
  justify-content: right;
  text-align: right;
  & button:first-child {
    margin-right: 1rem;
  }
  @media (max-width: $laptop) {
  }
}

.subtaskList {
  margin-bottom: 1.5rem;
}

.subtitle {
  margin-bottom: 0.3rem;
}
