$bg-body: #f3f5f7;
$primary-color: rgba(67, 192, 120, 1);
$primary-text: rgba(67, 192, 120, 1);
$primary-button: rgba(67, 192, 120, 1);
$primary-button-hover: rgba(67, 192, 120, 0.8);
$secondary-button: rgb(206, 212, 218, 0.7);
$secondary-button-hover: rgb(206, 212, 218, 0.9);
$input-border: rgba(130, 143, 163, 0.8);
$bg-task-block: rgb(206, 212, 218, 0.5);
$bg-task-block-hover: rgb(206, 212, 218, 0.7);
$bg-modal: rgb(206, 212, 218, 1);
$bg-task: rgb(206, 212, 218, 0.5);
$danger: #FA5252;

